target/
!.mvn/wrapper/maven-wrapper.jar
!repositories/src/main/**/target/
!repositories/src/test/**/target/
/repositories/native-libs/

### IntelliJ IDEA ###
/.idea/workspace.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/codeStyles/
.idea/aws.xml
.idea/uiDesigner.xml
*.iws
*.iml
*.ipr

### Dynamodb ###
dynamodb-local-metadata.json

### Mac OS ###
.DS_Store